<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Listagem de contatos utilizando o Spring Boot</title>
</head>

<body>

	<h1>Lista de contatos</h1>
	<table border="1">
		<thead>
			<tr>
				<th>#</th>
				<th>Nome</th>
				<th>E-mail</th>
				<th>Editar</th>
				<th>Remover</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="contato: ${contatos}">
				<td th:text="${contato.id}"></td>
				<td th:text="${contato.nome}"></td>
				<td th:text="${contato.email}"></td>
				<td><a th:href="@{/agenda/editar/{id}(id=${contato.id})}">Editar</a></td>
                <td><a th:href="@{/agenda/remover/{id}(id=${contato.id})}">Remover</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>